<h1>Sample Bedrock-Browserify-React App</h1>

<p>
    This app shows how you can have a Bedrock server that renders both static content via Handlebars and dynamic content via React.
</p>

<p>
    What you're reading now is static content from <code>home.handlebars</code>. The content below is rendered via React. Check the <code>public/src/js/components/App.jsx</code> folder for more information.
</p>

<hr>
